* { padding:0; margin:0; }

html { height:101%; background: url(/images/bg_mng_page.gif) repeat 0 0; }

body {
	margin:0 auto;	background: url(/images/bg_mng_top.jpg) repeat-x 0 0;
	font-size: 100%;
	padding:0 30px 0 0;
	background-attachment: scroll;
}
	
h1, h2, h3, h4 { font: normal 100%/100% "Lucida Grande", Arial, sans-serif; }
h1 { font-size: 1.8em; padding: 0 0 10px 0; }
h2 { font-size: 1.2em; padding: 0 0 10px 0; }
h3 { color:#000; font-size:1.15em; font-weight:bold; padding:0 0 10px 0; line-height:100%; }
h5 { font-size: .7em; font-weight: bold; background: url(/images/bg_mng_th.gif) no-repeat 0 100%;}
	
p, ol, ul, table, dl {
	font:normal .75em/150% "Lucida Grande", Arial, sans-serif;
	margin:0;
	padding:0 0 10px 0;
}

ol { margin:0 0 5px 50px; }
ol li { padding:0 0 15px 0; }
ol li em { float:left; }

a, a:visited { text-decoration: underline; font-weight:bold; color:#336699; }
a:hover { color:#336699; text-decoration: none; }

img { border: none; }

option { padding:0 5px; }

#wrapper {
	background-color: #fff;
	margin: 0px auto;
	padding: 0px 0px 20px 0px;
	text-align: left;
	border:1px solid #9D302E;
}

#header {	background: url(/images/bg_mng_top.jpg) repeat-x 0 0;
	position:relative;
	height: 125px;
	color: #FFF;
	margin:0;
	padding:0;
	min-width: 760px;
}
#header .logo { padding:10px 0 0 25px; }
#header h1 { padding: 50px 0 0 25px; }
#header p { padding: 3px 10px; font-size:11px; }
#header #login{text-align:right; position: absolute; top: 0; right: 0;}
#header a { text-decoration: none; color: #FFF; font-weight: normal; }
#header a:hover { text-decoration: underline; }
#header .nav { position: absolute; right: 0; bottom: 21px; height: 35px; padding:0; }
#header .nav li { list-style:none; float:right; margin: 0 1px; }
#header .nav li a{
	display:block;
	padding: 10px 22px 0 22px;
	height: 25px;
	background: url(/images/bg_mng_nav_mid.gif) repeat-x 0 0;
	float:left;
}
#header .nav li.active a { background:#EFEFEF; color:#000; font-weight:bold; }
#header .nav li span.left_edge, #header .nav li span.right_edge { display:block; height: 35px; width: 6px; float:left; }
#header .nav li span.left_edge { background: url(/images/bg_mng_nav_l.gif) no-repeat 0 0; }
#header .nav li.active span.left_edge { background-image: url(/images/bg_mng_nav_active_l.gif); }
#header .nav li span.right_edge { background: url(/images/bg_mng_nav_r.gif) no-repeat 0 0; }
#header .nav li.active span.right_edge { background-image: url(/images/bg_mng_nav_active_r.gif); }
		
#content { min-width: 760px; max-width: 1930px; }
#content h1 { font-weight: bold; }
	
#manageNav { width: 205px; position: relative; float:left; }
#manageNav a { color: #666; text-decoration: none; }
#manageNav a:hover { text-decoration: underline; }
#manageNav ul { list-style: none; padding: 0 0 130px 0; font-size: 1em; }
#manageNav li { padding: 5px 0px 5px 25px; }
#manageNav p { text-align:center; }

#mainCell { padding:0; margin-left: 210px; }
#mainCell h2 { padding-bottom: 10px; }
#mainCell .main_t { background:transparent url(/images/bg_mng_main_tl.gif) no-repeat 0 0; }
#mainCell .main_t .c {
	background:transparent url(/images/bg_mng_main_tr.gif) no-repeat right 0;
	height: 28px;
	margin:0;
}
#mainCell .main_t.hdr_t { background: transparent url(/images/bg_mng_main_top_tl.gif) no-repeat 0 0; }
#mainCell .main_t.hdr_t .c { background: transparent url(/images/bg_mng_main_top_tr.gif) no-repeat right 0; }
#mainCell .hdr_m, #mainCell .main_m { background:transparent url(/images/bg_mng_main_ml.gif) repeat-y 0 0; }
#mainCell .hdr_m .c, #mainCell .main_m .c {	
	background:transparent url(/images/bg_mng_main_mr.gif) repeat-y right 0;
	padding: 1px 30px;
	overflow: hidden;
}
#mainCell .hdr_m .c{padding-bottom: 10px;}
#mainCell .main_m .c{height: 100%; /*padding-top: 30px;*/}
#mainCell.home .main_m .c{padding-top: 30px;}
#mainCell .hdr_m.landing_notes{background: transparent url(/images/bg_mng_main_top_ml.gif) repeat-y 0 0;}
#mainCell .hdr_m.landing_notes .c{background: transparent url(/images/bg_mng_main_top_mr.gif) repeat-y right 0;}
#mainCell .main_m .c .s { background-color:#000; }
#mainCell .ftr { background:transparent url(/images/bg_mng_main_bl.gif) no-repeat 0px 0px; }
#mainCell .ftr .c { background:transparent url(/images/bg_mng_main_br.gif) no-repeat right 0px; height: 15px; }

#actual_content { min-height:200px; padding:15px 0; }
	
#information { padding: 0; }
#information table { width:100%; margin: 0 auto; border-collapse: collapse; }
#information th {
	background: url(/images/bg_mng_th.gif) no-repeat 0 100%; 
	border-bottom: 1px solid #E9E3DC;		
	padding: 0 10px;
	height: 27px;
}
#information th + th { background-position: 100% 100%; }	
#information td { border-bottom:1px dotted #999; padding: 8px 10px; vertical-align:bottom; }
#information td, #information th { text-align:left; }
#information td.edit_delete { width:25px; padding:8px 0; margin:0; font-size:0.95em; text-align:center; }
#information td.delete { padding-right:15px; }
#information a { font-weight:normal; }
#information .title a { color:#000; font-size:1.1em; text-decoration:none; }
#information .title a:hover { text-decoration:underline; }
#information .details { color:#999; font-size:0.9em; }
#information .buttons td { border:0; }
#information .buttons td strong { line-height:27px; }
#information .buttons td img { float:left; margin-right:10px; display:block; }

#loginbox { width:525px; margin:30px auto; }
#loginbox h3 {
	margin:0;
	padding:10px 0 0 50px;
	background:transparent url(/images/bg_login_hdr.gif) no-repeat 0 0;
	font-size:24px;
	line-height:60px;
	color:#FFF;
	font-weight:normal;
}
#login_form, #login_busy { background:transparent url(/images/bg_login.gif) no-repeat 0 100%; padding:30px 65px 25px 50px; }
#login_form p { padding-bottom:25px; }
#login_form label { font-size:14px; }
#login_form .formfield { padding:5px 2px; }
#login_form .forgot_password { margin:15px 0 10px 0; padding:15px 0 0 0; border-top:1px solid #CCC; }
#login_form .forgot_password a { font-weight:normal; }

#sortable_items li {
	border:1px solid #ccc;
	background-color:#fafafa;
	padding:10px;
	margin:0 0 10px 0;
	list-style:none;
}
#sortable_items li p { margin:0; padding:0; }
#sortable_items li img { float:left; margin:0 5px 0 0; padding:0; }

#date_column_left { width:20%; min-width:200px; }
#date_column_right { width:75%; min-width:400px; }

/************ styles for search form ************/
.search_form { padding:0 0 15px 0; }
.search_form h3, .search_form form, .search_form input { display:inline-block; vertical-align:bottom; }
.search_form h3 { margin-right:10px; padding:0; }
.search_query { width:250px; margin-right:10px; }

/************ styles for notice/error divs ************/
#notice { background-color: #A4E7A0; border: 1px solid #26722D; }
#error { background-color: #F0A8A8; border: 1px solid #900; }
#notice, #error { width: 90%; margin: 0 auto 10px auto; padding: 5px; }
#notice p, #error p { margin-left: 20px; padding: 0; font-size: .75em; color: #000; }
#notice a, #error a { text-decoration: none; padding: 0 3px; }
#notice a { border: 1px solid #26722D; color: #26722D; }
#error a { border: 1px solid #900; color: #900; }
#notice a:hover, #error a:hover { color: #333; border: 1px solid #333; }

/************ error handling styles ************/
#errorExplanation h2 { color:#C00; margin:0; padding:0; }
#errorExplanation p { margin:0; padding:2px; }
#errorExplanation li { margin-left:50px; }

a.add { font-size: 1.4em; }
tr.rowData:hover { background-color: #F5F8FA; }
.center { text-align: center; }
.right { text-align: right; }
.add_button{ float:right; }
.formfield { width:90%; font-size:1.4em; margin:5px 0 0 0; padding:2px; }
.formfield.title { font-size:1.55em; padding:3px 2px; }
.small { font-size: 0.9em; }
.pic_link * { vertical-align:middle; }
.context { font-size:11px; color:#666; }
.clear { clear:both; }
p.busy { color:#999; font-size:16px; text-align:center; }
.fieldWithErrors input, .fieldWithErrors textarea, .fieldWithErrors select { border:1px solid #C00; background-color:#FFD; }

.cancel_top { float:right; padding:2px 50px 0 0; }
a.cancel { color:#C00; }

.required { font-weight:bold; color:#900; }
.required:before { content:"* "; }

.nonefound {
	font-size:14px;
	margin:15px 0 0 0;
	padding:15px 5px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}

.formCluster {
	background-color: #fafafa;
	border:1px solid #EFEFEF;
	border-top-width:25px;
	padding:15px 0 15px 0;
	margin-bottom:20px;
}
.formCluster p { padding:0 30px 10px 30px; }
.formCluster h3 { padding-left:30px; }
.formClusterGroup {
	padding:0 0 10px 0;
	margin:0 0 15px 0;
	border-bottom:1px dotted #999;
}
.formClusterGroup h4 { margin:0; padding:0 0 10px 30px; color:#900; }

.greyButton {
	border-top:1px solid #ccc;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	border-left:1px solid #ccc;
	background-color:#e5e5e5;
	color:#000;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding: 3px 35px;
	text-decoration:none;
}

a.greyButton:visited {
	border-top:1px solid #ccc;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	border-left:1px solid #ccc;
	background-color:#e5e5e5;
	color:#000;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding: 3px 35px;
	text-decoration:none;
}

a.greyButton:hover {
	border-top:1px solid #ccc;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	border-left:1px solid #ccc;
	background-color:#ccc;
	color:#000;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding: 5px 35px;
	text-decoration:none;
}

/************ styles for pagination ************/
.pagination {
	font:normal .75em/150% Arial, Verdana, Arial,sans-serif;
	padding:3px;
	margin:25px 0 0 0;
	text-align:center;
}
.pagination a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #999;
	text-decoration:none;
	color:#666;
	font-size:1.0em !important;
}
.pagination a:hover, .pagination a:active { border:1px solid #000; color:#000; }
.pagination span.current {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #666;
	font-weight:bold;
	background-color:#666;
	color:#FFF;
}
.pagination span.disabled {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #DDD;
	color:#999;
}
/************************/