html {
	height:101%;
	background:#767676 url(/images/bg_page.jpg) repeat-x 0 0;
	margin:0;
	padding:0;
}

body { background:transparent url(/images/bg_starburst.jpg) no-repeat 50% 0; margin:0; padding:42px 0 0 0; }

h1, h2, h3, h4 { font-family:Georgia, Verdana, sans-serif; }

h1 {
	color:#AB0000;
	font-size:1.5em;
	font-weight:normal;
	padding:0 0 5px 0;
	margin:0;
}

h2 {
	padding:0 0 5px 0;
	margin:0 0 5px 0;
	border-bottom:1px solid #000;
	font-size:18px;
	color:#666;
}

p, ol, ul, td { font:normal 0.75em/130% helvetica, arial, tahoma, sans-serif; }
p { padding:0 0 10px 0; margin:0; color:#333; }

a { color:#369; text-decoration:underline; padding:1px; }
a:hover { background-color:#369; color:#FFF; text-decoration:none; }

ul { padding:5px 0 0 0; margin:0; list-style:none; }
ol { padding:0 0 10px 25px; margin:0; }
li { padding:0 0 3px 5px; }

img { border:none; margin:0; padding:0; }

td { border-bottom:1px solid #BBB; }
th { border-bottom:1px solid #000; }
tr:hover { background-color:#EEE; }

kbd {
	font-size:1.1em;
	font-family:courier;
	padding:1px;
	background:#E9E9E9;
	color:#2D2D2D;
}

pre { overflow:auto; margin:0; }

#header { width:374px; height:81px; margin:0 auto 20px auto; padding:0; }
#header .logolink { display:block; width:374px; height:81px; background:url(/images/logo-trans.png) no-repeat 0 0; }
#header .logolink:hover { background-color:transparent; background:url(/images/logo_ro-trans.png) no-repeat 0 0; }

#wrapper { width:812px; padding:17px 0 0 0; margin:0 auto; background:transparent url(/images/content_box_top-trans.png) no-repeat 0 0; }
	
#content { padding:0 0 25px 12px; min-height:400px; background:transparent url(/images/content_box_bg-trans.png) repeat-y 0 0; }

#message {
	padding:8px 0 8px 10px;
	border:2px solid #000;
	font-weight:bold;
	margin-bottom:10px;
}
#message p { padding:0; }

#blog { width:530px; float:left; margin-right:12px; }
#blog ul, #blog ol, #blog p { color:#333; }

#rightCol {
	width:240px;
	float:left;
	text-align:center;
	padding:5px 0 0 0;
}

#nav {
	width:233px;
	margin-top:15px;
	margin-bottom:15px;
	background-color:#EEE;
	border:2px dashed #000;
	text-align:left;
	}
#nav .padding { padding:15px 25px 25px 15px; }

#comment_error { border:1px solid #900; padding:10px; }
#comment_notice { border:1px solid #CC9; background-color:#FFC; padding:5px; }

#admin_nav { width:150px; background-color:#EFEFEF; border:1px dashed #000; float:left; }
#admin_nav .padding { padding:15px 10px 15px 15px; }
#admin_nav p { padding:0; }
#admin_nav a { display:block; padding:3px 0; }
	
#admin_main {
	width:495px;
	border:1px solid #EEE;
	float:left;
	position:relative;
	left:15px;
}
#admin_main .padding { padding:15px; }

/************ styles for notice/error divs ************/
#notice { background-color:#A4E7A0; border:1px solid #26722D; }
#error { background-color:#F0A8A8; border:1px solid #900; }
#notice, #error { width:90%; margin:0 auto 10px auto; padding:5px; }
#notice p, #error p { margin-left:20px; padding:0; font-size:.75em; color:#000; }
#notice a, #error a { text-decoration:none; padding:0 3px; }
#notice a { border:1px solid #26722D; color:#26722D; }
#error a { border:1px solid #900; color:#900; }
#notice a:hover, #error a:hover { color:#333; border:1px solid #333; }

/**********************************************
										CLASSES
**********************************************/
.center { text-align:center; }
.left { text-align:left; }
.clear { clear:both; }

.blog_box_top {
	width:530px;
	height:15px;
	background:transparent url(/images/blog_box_top-trans.png) no-repeat 0 100%;
}
.blog_box {
	background:transparent url(/images/blog_box_mid-trans.png) repeat-y 0 0;
	padding:0 15px 0 21px;
	position:relative;
}
.blog_box_bottom {
	width:530px;
	height:15px;
	margin:0 0 10px 0;
	background:transparent url(/images/blog_box_bottom-trans.png) no-repeat 0 0;
}

.sidebox_top {
	width:240px;
	height:9px;
	font-size:0;
	background:url(/images/sidebox_top-trans.png) no-repeat 0 100%;
}
.sidebox_bottom {
	width:206px;
	min-height:208px;
	padding:8px 17px 0 17px;
	margin:0 0 17px 0;
	background:url(/images/sidebox_bottom-trans.png) no-repeat 0 100%;
}
.sidebox_bottom h2 {
	border:none;
	font-size:0;
	height:0;
	letter-spacing:-1000em;
	display:block;
	overflow:hidden;
	margin:0 0 15px 0;
	padding:30px 0 0 0;
}
.sidebox_bottom h2.links { background:url(/images/hdr_links-trans.png) no-repeat 0 0; }
.sidebox_bottom h2.archives { background:url(/images/hdr_archives-trans.png) no-repeat 0 0; }
.sidebox_bottom h2.tags { background:url(/images/hdr_tags-trans.png) no-repeat 0 0; padding:33px 0 0 0; }
.sidebox_bottom ul { padding:0 0 20px 0; margin:0; }
.sidebox_bottom ul li { text-align:left; font-size:13px; padding:0 0 5px 0; }
.sidebox_bottom ul li a, .sidebox_bottom .tag_cloud a { color:#FFF; text-decoration:none; }
.sidebox_bottom ul li a:hover, .sidebox_bottom .tag_cloud a:hover { background:transparent; text-decoration:underline; }

.infobox_top {
	width:777px;
	height:10px;
	font-size:0;
	background:url(/images/infobox_top-trans.png) no-repeat 0 100%;
}
.infobox_bottom {
	width:740px;
	padding:0 20px 0 17px;
	margin:0 0 9px 0;
	background:url(/images/infobox_bottom-trans.png) no-repeat 0 100%;
}
.infobox_bottom h1 { color:#4F4F4F; font-weight:bold; padding:0 0 5px 0; font-family:helvetica, arial, sans-serif; }

.date_box {
	width:47px;
	height:48px;
	overflow:hidden;
	background:transparent url(/images/date_box-trans.png) no-repeat 0 0;
	padding:3px 0 0 0;
	position:absolute;
	left:-42px;
	top:8px;
}
.date_box p {
	text-align:center;
	font: bold 12px/100% helvetica, arial, sans-serif;
	color:#FFF !important;
	padding:0;
}
.date_box p.month { font-size:12px; }
.date_box p.day { font-size:18px; }
.date_box p.year { font-size:12px; }

.comments {
	padding:0 0 10px 28px;
	background:transparent url(/images/img_comments.gif) no-repeat 0 0;
	color:#AB0000;
	text-decoration:none;
}
.comments:hover { text-decoration:underline; background-color:transparent; color:#AB0000; }

.comment {
	background:#F0F0F0 url(/images/content_box_bg-trans.png) repeat-y 0 0;
	margin-bottom:15px;
	border:1px solid #000;
	padding:0 10px 0 15px;
}
.comment p.author {
	color:#FFF !important;
	background-color:#DD3127;
	padding:3px 0 3px 5px;
	margin-right:15px;
	border:1px solid #000;
	position:relative;
	top:-5px;
	left:-25px;
}
	
.title_link { color:#AB0000; text-decoration:none; }
.title_link:hover { background-color:#AB0000; color:#FFF; }

.posted { font-size:0.7em; color:#666; }

.tagged { color:#000 !important; font-weight:bold; }
.tagged a { font-weight:normal; }

.tag_h1 { color:#000; margin-bottom:20px; font-family:helvetica, arial, sans-serif; padding:0 0 0 10px; }

input.styled_input { width:300px; font-size:1.35em; font-family:verdana, sans-serif; padding:2px 0; }
input.styled_admin_input { width:100%; font-size:1.35em; font-family:verdana, sans-serif; padding:2px 0; }
textarea.styled_input { height:100px; width:300px; font-family:verdana, sans-serif; }
textarea.styled_admin_input { height:400px; width:100%; }

.rowData { border-bottom:1px solid #000; }

.valid_links { text-align:center; }
.valid_links img { margin-right:5px; }
.valid_links a:hover { background:transparent; }

.quoted_text {
	padding:0 0 0 10px;
	margin:0 0 10px 10px;
	border-left:3px solid #000;
	color:#666;
}

.adsense { width:728px; margin:0 auto 10px auto; }

.gist pre { padding:10px 10px 10px 15px; }
.gist-data { font-size:12px !important; }
.gist-meta { font-size:10px !important; } /* for gist embeds */

/*styles for tag cloud*/
.level_one { font-size:12px; }
.level_two { font-size:14px; }
.level_three { font-size:16px; }
.level_four { font-size:18px; }
.level_five { font-size:20px; }
.level_six { font-size:22px; }

/*ruby/rails code coloring*/
.keyword { color:#FFE000; } /*yellow*/
.string { color:#00D42D; } /*green*/
.entity { color:#FF5A00; } /*orange*/
.variable { color:#84A6D1; } /*light blue*/
.comm { color:#999; } /*grey*/

/************ styles for pagination ************/
.pagination {
	font:normal .75em/150% Arial, Verdana, Arial,sans-serif;
	padding:3px;
	margin:3px;
	text-align:center;
}
.pagination a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #666;
	text-decoration:none;
	color:#666;
	font-size:1.0em !important;
}
.pagination a:hover, .pagination a:active { border:1px solid #670000; color:#670000; background-color:transparent; }
.pagination span.current {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #670000;
	font-weight:bold;
	background-color:#670000;
	color:#FFF;
}
.pagination span.disabled {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #DDD;
	color:#999;
}
/************************/