<%-
unless @tags.nil? or @tags.empty?
	# SIZE TAGS ACCORDING TO POPULARITY
	tag_vals = []
	for tag in @tags
		amt = tag.posts.count
		ratio = ((amt.to_f / @item_count.to_f) * 100).to_i
		tag_vals << [tag.name, amt, ratio] unless amt==0
	end
-%>
	<%# ALL TAGS (CLOUD) %>
	<%- tag_vals.sort! -%>
	<p class="tag_cloud">
		<%- for val in tag_vals -%>
			&nbsp;<%= link_to val[0], tagged_path(:name => strip_chars(val[0])), :class => tag_class(val[2]) %>&nbsp;
		<%- end -%>
	</p>
<%- else -%>
	<p>There are no tags at this time.</p>
<%- end -%>