#loginbox
  %h3 Sign-in
  #login_form
    - form_tag signin_admin_posts_path do
      %p
        %label{:for => 'username'} Username
        %br/
        = text_field_tag :username, '', :class => 'formfield'
      %p
        %label{:for => 'Password'} Password
        %br/
        = password_field_tag :password, '', :class => 'formfield'
      = image_submit_tag 'btn_signin.gif', :alt => 'Login'
