<div class="formClusterGroup">
	<h4>Blog Post Details</h4>
	<p>
		<label for="post_title">Title</label><br />
		<%= text_field :post, 'title', :class => 'formfield' %>
	</p>

	<p>
		<lable for="post_date">Date</lable><br />
		<%= date_select :post, 'date', :order => [:month, :day, :year] %>
	</p>

	<p>
		<label for="post_content">Content</label><br />
		<%= text_area :post, 'content', :class => 'formfield' %>
	</p>

	<p>
		<label for="tags">Tags</label><br />
		<%= text_field_tag :tags, (@tags.nil? or @tags.empty?) ? params[:tags] : @tags.join(", "), :class => 'formfield' %>
	</p>
</div><!-- formClusterGroup -->