<% form_for(:post, @post, :url => admin_post_path(@post), :html => {:method => 'put'}) do %>
	<%= render :partial => 'form' %>
	<p><%= submit_tag 'Update Post' %> or <%= link_to 'cancel', admin_posts_path %></p>
<% end %>