<div id="loginbox">
	<h3>Sign-in</h3>
	<div id="login_form">
		<% form_tag signin_admin_posts_path do %>
			<p>
				<label for="username">Username</label> <br />
				<%= text_field_tag :username, '', :class => 'formfield' %>
			</p>
			<p>
				<label for="password">Password</label> <br />
				<%= password_field_tag :password, '', :class => 'formfield' %>
			</p>
			<%= image_submit_tag 'btn_signin.gif', :alt => 'Login' %>
		<% end %>
	</div> <!-- login_form -->
</div> <!-- loginbox -->